{{ .chezmoi.homeDir }}/.cache
{{ .chezmoi.homeDir }}/.local/share/Trash
{{ .chezmoi.homeDir }}/go/pkg/mod
{{ .chezmoi.homeDir }}/.cargo/registry
{{ .chezmoi.homeDir }}/.cargo/git
{{ .chezmoi.homeDir }}/.npm/_cacache
{{ .chezmoi.homeDir }}/.opencode/node_modules
